# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# The following line has been commented to include SFML dynamic libraries.
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# The following line has been commented to include SFML static libraries.
# *.lib

# Executables
*.exe
*.out
*.app
main
game.bin

#Ide and code editor files
.vscode/*
x64/*
.vs/*
